body {
	background-image: url("south-america.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	margin: 0 auto;
	background-size: 55%;
	background-color: #DBE8F1;


}

#body2 {
	background-image: url("map.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	margin: 0 auto;
	background-size: 100%;
}

#title {
	font-family: 'Acme', sans-serif;
	font-size: 90px;
	color: black;
	text-align: center;

}

#small-h2 {
	width: 50%;
	color: 	black;
	text-align: center;
	position: relative;
	margin-left: 350px;
	font-size: 40px;
	font-family: 'Acme', sans-serif;

	
}


p {
	width: 20%;
}

img {
	height: 40px;
	width: 30px;
}
#question-container {
	min-height: 200px;
	background: white;
	opacity: 0.8;
	border-radius: 50px;
	border: 8px solid 	#FFFF99;
	margin-top: 100px;
	width: 200px;

}
#start {
	width: 90px;
	height: 80px;
	border-radius: 30px;
	border: 8px solid #FFFF99;
	background: none;
	font-weight: bold;
	font-family: 'Acme', sans-serif;



}

.margin-20{
	margin: 20px;
}

#choicea,
#choiceb,
#choicec {
	width: 100%;
	font-family: 'Acme', sans-serif;
	word-wrap: break-word;

}
#gameinfo {
	border-radius: 15px;
	height: 60px;
	width: 200px;
	border: 8px solid #1E90FF;
	background: white;
	font-weight: bold;
	font-size: 30px;
	position: relative;
	text-align: center;
	margin-left: 600px;
	opacity: .8;
	font-family: 'Acme', sans-serif;

}
#again {
	border-radius: 20px;
	height: 80px;
	width: 200px;
	border: 8px solid #FF8C00;
	background: none;
	font-weight: bold;
	font-family: 'Acme', sans-serif;
	font-size: 30px;

}
#home {
	border-radius: 20px;
	height: 80px;
	width: 200px;
	border: 8px solid #FF8C00;
	background: none;
	font-weight: bold;
	font-family: 'Acme', sans-serif;
	font-size: 30px;
}
#stopwatch {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  padding: 12px;
  font-size: 40px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  border: 8px solid #FFFF99;
  background: white;
  right: 470px;
  opacity: .7;
  margin-top: 100px;
  font-family: 'Acme', sans-serif;
}
img {
	height: 50px;
	width: 40px;
	position: relative;
}
iframe {
	display: none;
}
#instructions {
	font-weight: bold;
	border: 8px solid 	#FF8C00;
	border-radius: 10px;
	color: black;
	text-align: center;
	font-size: 20px;
	margin-left: 400px;
	width: 600px;
	background-color: white;
	opacity: .8;
	font-family: 'Acme', sans-serif;

}
#begin {
	font-weight: bold;
	border: 8px solid #1E90FF;
	border-radius: 10px;
	color: black;
	text-align: center;
	font-size: 30px;
	margin-left: 550px;
	width: 300px;
	color: black;
	opacity: .8;
	background: white;
	font-family: 'Acme', sans-serif;


}
#start {
	font-size: 30px;
	color: black;
	font-weight: bold;
	width: 300px;
	font-family: 'Acme', sans-serif;
}

#startpage{
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	text-align: center;
	color: black;
}

#playagain {
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	text-align: center;
	color: black;
}
#welcome-text {
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	text-align: center;
}
#question {
	font-family: 'Acme', sans-serif;
	text-align: center;
	font-size: 20px;
}