body {
	background-image: url("south-america.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	margin: 0 auto;
	background-size: 50%;
	background-color: #DBE8F1;


}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 40px;

}

#small-h2 {
	font-size: 20px;
	width: 20%;
}

/*#instructions {
	text-align: left;
	font-size: 15px;
	display: hidden;*/
}

p {
	width: 20%;
}

img {
	height: 40px;
	width: 30px;
}
#question-container {
	min-height: 200px;
	background: white;
	opacity: 0.8;
	/*position: relative;*/
	/*margin-left: 500px;*/
	border-radius: 50px;
	/*margin-bottom: 500px;*/
}
#start {
	width: 80px;
	height: 50px;
	border-radius: 30px;

}

.margin-20{
	margin: 20px;
}

#choicea,
#choiceb,
#choicec {
	width: 100%;
}
#gameinfo {
	border-radius: 20px;
	height: 40px;
	width: 100px;
}


